.login {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.29)), no-repeat, image-url("BackgroundImage.jpg");
    /* Preserve aspect ratio */
    background-size: 110% auto;
    @include media-breakpoint-down(md) {
      background-size: 1400px auto;
    }
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }
  .card {
    margin-top: 80px;
    padding-top: 20px;
    border-radius: 12px;

    .card-title {
      margin-bottom: 16px;
    }
  }
  @include media-breakpoint-up(lg) {
    .card {
      min-width: 350px;
      margin-top: 100px;
    }
  }
  &__facebook-button {
    @extend .body-light;

    padding: 12px 16px;
    background-color: $facebook-blue;
  }
  small {
    margin-top: 12px;
    float: right;

    a {
      color: inherit;
    }
  }
}
