.user-profile {
  .profile-section[data-title="favorite-organizations"] {
    .fav-org {
      margin-bottom: 20px;

      &__logo {
        height: 36px;
        width: 36px;
      }
      .cause-label {
        @extend .ml-3
      }
    }
  }
}
