.user-profile {
  .profile-section[data-title="favorite-organizations"] {
    .fav-org {
      margin-bottom: 20px;

      &__logo {
        height: 36px;
        width: 36px;
      }
      .org-type-oval {
        margin-left: 16px;
      }
    }
  }
}
