// Color palette
$theme-primary:                   #f3c937;
$theme-secondary:                 #333333;

$text-title:                      #000000;
$text-subtitle:                   #aaaaaa;
$text-body:                       #555555;
$text-toned-down:                 #777777;
$text-light:                      #ffffff;

$element-toned-down:              #bbbbbb;
$facebook-blue:                   #3c5a99;
$error:                           #ee4444;
$light-hover:                     rgba(0, 0, 0, 0.1);

// Cause colors
$category-animals:                #ff7744;
$category-community_development:  #ff88aa;
$category-education:              #1199ee;
$category-environment:            #99cc66;
$category-health:                 #7755cc;
$category-human_rights:           #4455bb;
$category-human_services:         #ffaa22;
$category-international:          #ffcc66;
$category-religion:               #22aa99;
$category-unknown:                $element-toned-down;

// z index index
$top-z-index: 300;
$mid-z-index: 200;
$bot-z-index: 100;

// Bootstrap Overrides
$primary: $theme-primary;
$secondary: $theme-secondary;
