<div class="row mb-3">
    <%= render "partials/static_page_section", locals: { header_title: locals[:name], column_classes: "col-lg-4" } do %>
      <div class="body-small-bold text-uppercase">
        <%= locals[:role] %>
      </div>
    <% end %>
  <div class="col-lg-8">
    <%= yield %>
  </div>
</div>
