// Buttons

.button {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-light {
  @extend .button;
  @extend .btn-outline-secondary;

  &.active, &:hover {
    @extend .button-dark;
  }
}

.button-dark {
  @extend .button;
  @extend .btn-secondary;
}

// Dividers

.divider {
  border: solid 1px $element-toned-down;
  margin-top: 20px;
  margin-bottom: 19px;
}
