.donation-distribution {
    display: flex;

    .donation-bar {
        min-width: 4px;

        &__bar {
            height: 24px;
            margin-bottom: 4px;
        }
        &__cause {
            font-size: 12px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__percent {
            font-size: 12px;
            margin-bottom: 4px;
        }
        &__under-bar {
            height: 8px;
            margin-bottom: 5px;
        }
        &:first-child {
            font-weight: bold;
        }
        &:not(:first-child) {
            margin-left: 4px;

            .donation-bar__under-bar {
                display: none;
            }
        }
    }
}
