html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 136px; // height of footer
  position: relative;
}

.page-footer {
  background: transparent;
  height: 96px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;

  color:$element-toned-down;
  &--login {
    color: $text-light;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 156px;
    padding-right: 156px;
  }

  &__copyright {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 1.33;
    }
  }
  &__static-pages {
    min-width: 250px;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 20px;
    }
    a {
      color: inherit;
    }
  }
}
