.user-header {
  &__image {
    object-fit: cover;

    width: 104px;
    height: 104px;
    @include media-breakpoint-down(md) {
      max-height: 52px;
      max-width: 52px;
    }
  }
  &__social-networks {
    a {
      display: inline-block;
      font-size: 24px;
      color: inherit;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  &__nav {
    a {
      width: 140px;
      height: 48px;
      @include media-breakpoint-down(md) {
        width: 36px;
        height: 36px;
      }
      span {
        padding-left: 4px;
        line-height: 100%;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }
  &__edit {
    width: 296px;
    height: 48px;
    @include media-breakpoint-down(md) {
      width: 140px;
      height: 36px;
    }
  }
}
