$org_type_colors: (
  "animals":                $category-animals,
  "community_development":  $category-community_development,
  "education":              $category-education,
  "environment":            $category-environment,
  "health":                 $category-health,
  "human_rights":           $category-human_rights,
  "human_services":         $category-human_services,
  "international":          $category-international,
  "religion":               $category-religion,
  "unknown":                $category-unknown,
);

$org_type_oval_text_colors: (
  "animals":                $theme-secondary,
  "community_development":  $theme-secondary,
  "education":              $theme-secondary,
  "environment":            $theme-secondary,
  "health":                 $text-light,
  "human_rights":           $text-light,
  "human_services":         $theme-secondary,
  "international":          $theme-secondary,
  "religion":               $theme-secondary,
  "unknown":                $theme-secondary,
);


@each $key, $color in $org_type_colors {
  .color_#{$key} {
    color: $color !important;
  }
}

@each $key, $color in $org_type_colors {
  .bg_color_#{$key} {
    background-color: $color !important;
  }
}

@each $key, $color in $org_type_oval_text_colors {
  .bg_color_#{$key} {
    color: $color !important;
  }
}
