// Body
body, .body {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $text-body;
}
.body-bold {
  @extend .body;
  font-weight: bold;
  color: $theme-secondary;
}
.body-dark {
  @extend .body;
  color: $theme-secondary;
}
.body-destructive {
  @extend .body;
  color: $error;
}
.body-emphasis {
  @extend .body;
  color: $text-title;
}
.body-light {
  @extend .body;
  color: $text-light;
}
.body-thin {
  @extend .body;
  font-weight: 300;
  color: $text-toned-down;
}
.body-toned-down {
  @extend .body;
  color: $text-toned-down;
}

// Medium Body
label, .body-medium {
  @extend .body;
  font-size: 14px;
  line-height: 1.14;
}
.body-medium-bold {
  @extend .body-medium;
  font-weight: bold;
  color: $theme-secondary;
}
.body-medium-emphasis {
  @extend .body-medium;
  color: $theme-secondary;
}
.body-medium-toned-down {
  @extend .body-medium;
  color: $text-toned-down;
}

// Small Body
small, .body-small {
  @extend .body;
  font-size: 12px;
  line-height: normal;
}
.body-small-bold {
  @extend .body-small;
  font-weight: bold;
  color: $theme-secondary;
}
.body-small-toned-down {
  @extend .body-small;
  color: $text-toned-down;
}

// Headings
.heading {
  @extend .body;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: $text-title;
}
.subheading {
  @extend .body;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.6px;
  color: $text-toned-down;
  text-transform: uppercase;
}

// Titles
.title {
  @extend .body;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.2px;
  color: $text-title;
}

.subtitle {
  @extend .body;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $text-subtitle;
  text-transform: uppercase;
}

// Buttons
.button {
  @extend .body;
  font-weight: 500;
  text-align: center;
}
.button-dark {
  color: $text-light;
}
.button-light {
  color: $theme-secondary;
}

// Icons
i, .icon {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.icon-dark {
  @extend .icon;
  color: $theme-secondary;
}
.icon-disabled {
  @extend .icon;
  color: $element-toned-down;
}
.icon-light {
  @extend .icon;
  color: $text-light;
}
.icon-toned-down {
  @extend .icon;
  color: $text-toned-down;
}

// Medium Icons
.icon-medium {
  @extend .icon;
  font-size: 16px;
}
.icon-medium-dark {
  @extend .icon-medium;
  color: $theme-secondary;
}
.icon-medium-disabled {
  @extend .icon-medium;
  color: $element-toned-down;
}
.icon-medium-light {
  @extend .icon-medium;
  color: $text-light;
}
.icon-medium-toned-down {
  @extend .icon-medium;
  color: $text-toned-down;
}

// Logo
.logo-footer {
  @extend .body;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
  color: inherit;
}
.logo-header {
  @extend .body;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  color: $theme-secondary;
}

// Overflow
.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
