// Color palette
$theme-primary:                   #f3c937;
$theme-secondary:                 #333333;

$text-title:                      #000000;
$text-subtitle:                   #aaaaaa;
$text-body:                       #555555;
$text-toned-down:                 #777777;
$text-light:                      #ffffff;

$element-toned-down:              #bbbbbb;
$facebook-blue:                   #3c5a99;
$error:                           #ee4444;
$light-hover:                     rgba(0, 0, 0, 0.1);

// z index index
$top-z-index: 300;
$mid-z-index: 200;
$bot-z-index: 100;

// Bootstrap Overrides
$primary: $theme-primary;
$secondary: $theme-secondary;
