<section class="login">
    <div class="login__background"></div>
    <div class="d-flex flex-column align-items-end">
        <div class="card col-lg-3 px-0">
            <div class="card-body d-flex align-items-start flex-column">
                <span class="title mb-3">Share your donations.</span>
                <p class="body-toned-down">Share your donations with your friends and the community.</p>
                <p class="body-toned-down">See what charitable causes your friends care about.</p>
                <%= link_to user_facebook_omniauth_authorize_path, class: "login__facebook-button btn d-flex align-items-center w-100 mt-5" do %>
                <%= fa_icon "facebook-square", type: :brand, class: "mr-3 login__facebook-icon" %>
                <span class="flex-grow-1">Login with Facebook</span>
                <% end %>
            </div>
        </div>
        <span class="login__credit body-small-toned-down position-relative">
            Photo by <%= link_to "Perry Grone", "https://unsplash.com/@perrygrone", target: "_blank" %> on <%= link_to "Unsplash", "https://unsplash.com/", target: "_blank" %>
        </span>
    </div>
</section>