<%= render "users/profile/profile_section", title: "BADGES"  do %>
  <div class="badges-row mb-3">
    <% @badges.each do |badge, tier| %>
      <!-- TODO: implement tiered coloring -->
      <%= fa_icon badge_logos[badge], class: "color_tier_#{tier} donation-badge" %>
    <% end %>
  </div>
  <!-- TODO: decide how to handle overflow
  <% if @badges.size > 6 %>
    <div class="body-medium"><%= "and #{@badges.size - 6} other #{'badge'.pluralize(@badges.size - 6)}..." %></div>
  <% end %>
  -->
<% end %>
