<%= render "users/profile/profile_section", title: "DONATIONS BY CAUSES"  do %>
  <%= render "shared/donation_distribution", donations_by_causes: @donations_by_causes %>
  <div class="reason-for-giving"><%= @user.favorite_cause_description %></div>
<% end %>
