<%= render "users/profile/profile_section", title: "Favorite Organizations" do %>
  <div class="fav-orgs">
    <%= render partial: "users/profile/favorite_organization", collection: @user.user_favorite_organizations %>
  </div>
  <% if @user.user_favorite_organizations.length > 2 %>
    <%= render "shared/scroll_arrow" %>
  <% end %>
<% end %>
