<div class="card donation-card container">
  <div class="row">
    <div class="col-12">
      <div class="donation-card__header">
        <div class="donated-to-text"> Donated to </div>
        <% if donation.user == current_user %>
          <%= link_to fa_icon("ellipsis-v"), "#", class: "donation-card__menu" %> <!-- Placeholder for now. -->
        <% end %>
      </div>
      <%= link_to donation.organization.name, "#", class: "align-top donation-card__organization body-medium" %>
      <div class="donation-card__time"><%= donation.created_at.strftime("%I:%M %p - %b %e, %Y") %></div>
    </div>
  </div>
</div>
