.user-profile-edit {
  .profile-section[data-title="favorite-organizations"] {
    .fav-org {
      margin-bottom: 20px;

      &__header {
        margin-left: -50px;
        
        .org-type-oval {
          display: inline-block;
        }
      }
      &__logo {
        height: 36px;
        width: 36px;
      }
      &__description {
        height: 75px;
        resize: none;
        margin-top: 5px;
      }
    }
  }
}
