.user-profile-edit {
  .profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .avatar {
    height: 104px;
    width: 104px;
    object-fit: cover;
  }
}
