.user-profile-edit {
  .avatar {
    object-fit: cover;
    height: 104px;
    width: 104px;
  }
  .form-control {
    border: solid 1px $text-toned-down;
  }
  .editable-content {
    margin-left: 5%;
    margin-right: 5%;

    .profile-section {
      margin-top: 40px;
    }
  }
  .action-buttons > * {
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: 48px;
    }
  }
}
