.user-profile-edit {
  .avatar {
    height: 104px;
    width: 104px;
    object-fit: cover;
  }
  .form-control {
    border: solid 1px $text-toned-down;
  }
  .label {
    color: $text-toned-down;
    font-size: 14px;
  }
  .editable-content{
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;

    .profile-section {
      margin-top: 40px;
    }
  }
  .action-buttons{
    flex-grow: 1;
  }
}
