// Base CSS
@import "base/variables";
@import "bootstrap";
@import "font_awesome5_webfont";
@import "normalize-rails";
@import "base/causes";
@import "base/text_styles";

// Layouts CSS
@import "layouts/application";
@import "layouts/content";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/user_header";

// Shared Components CSS
@import "shared/components";
@import "shared/cause_label";

// Home Controller CSS
@import "home";

// Search Controller CSS
@import "search";

// Users Controller CSS
@import "users";
